<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      SCHOOL X
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img src="../../assets/images/Group 5.png" class="appareil">

    <div class="description">
      <p><b>School X</b> est une application mobile révolutionnaire qui transforme la manière d'accéder aux informations
        scolaires. En scannant simplement le nom d'une classe, obtenez immédiatement des détails essentiels, des
        programmes d'études aux annonces importantes. Idéale pour étudiants et enseignants, <b>School X</b> rend l'expérience
        éducative plus simple et plus accessible. Rejoignez l'ère de l'éducation connectée avec <b>School X</b> !
      <p>
        Copyright @2024 Belom&Wafo
      </p>
    </div>

  </div>
  <!-- <ion-card>

    <ion-card-content>
      Consulter les informations relatives à une salle
      de classe en cliquant sur l'icône ci dessous. Ou alors,
      saisissez le nom de la classe .
    </ion-card-content>
  </ion-card> -->

  <!-- <div class="container1">
    <ion-button color="tertiary" [routerLink]="['../ar-launcher']">
      <ion-icon name="camera-outline" ></ion-icon>
    </ion-button>
 
      <ion-button color="tertiary" id="open-modal">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button> 
  </div> -->
</ion-content>